
  @font-face {
  font-family: "Kievit Black";
  src: url('assets/KievitOT-Black.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Black Italic";
  src: url('assets/KievitOT-BlackItalic.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Bold";
  src: url('assets/KievitOT-Bold.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Bold Italic";
  src: url('assets/KievitOT-BoldItalic.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Extra Bold";
  src: url('assets/KievitOT-ExtraBold.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Extra Bold Italic";
  src: url('assets/KievitOT-ExtraBoldItalic.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Italic";
  src: url('assets/KievitOT-Italic.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Medium";
  src: url('assets/KievitOT-Medium.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Medium Italic";
  src: url('assets/KievitOT-MediumItalic.otf') format("otf");
   }



  @font-face {
  font-family: "Kievit Regular";
  src: url('assets/KievitOT-Regular.otf') format("otf");
  src: url('assets/KievitOT-Regular.woff') format("woff");
  src: url('assets/KievitOT-Regular.ttf') format("truetype");
   }
